*,*::after,*::before{
    box-sizing: border-box;
}

html{
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    border: 5px blue solid;
}

.layout{
    display: grid;
    grid-template: repeat(5,1fr) / repeat(5, 1fr);
    outline: 5px solid red;
}

.sidebar{
    grid-column: 1/2;
    grid-row: 1/-1;
    background-color: rgb(17, 141, 199);
    color: white;
    font-weight: 900;
    display: grid;
    justify-content: center;
    gap: 50px;
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-container, .pref-container{
    display: grid;
    gap: 15px;
}

.logo{
    font-size: 1.3rem;
}

li>a{
    color: white;
    text-decoration: none;
}

.header{
    grid-column: 2/6;
    grid-row: 1/2;
    background-color: whitesmoke;
    color: black;
}

.search-section{
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    gap: 150px;
}

.search-section> ul{
    display: flex;
    gap: 30px;
}

.form{
    display: flex;
    flex: 1;
}

.form > .search-bar {
    flex: 1;
    border-radius: 1rem;
    appearance: none;
    outline: none;
    border: none;
    background-color: rgba(185, 185, 185, 0.89);
}

.welcome-section{
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
}

.nav-upload > ul{
    display: flex;
    gap: 30px;
}

.greeting p{
    font-weight: 900;
    margin: 0;
}

.greet{
    font-size: 0.5rem;
}

.nav-upload button{
    border-radius: 1rem;
    font-size: 0.8rem;
    padding: 10px 30px;
    font-weight: 900;
    background-color: rgb(17, 141, 199);
    color: white;
    border: 1px solid whitesmoke;
}


